.hero   {
background-color: #1f2937;
color: #E5E7EB; 
font-size: 18px;

}
a {
    color: #E5E7EB;  
}
.heromain {

    font-size: 48px;
    color: #F9FAF8;
}

.herologo {
    font-size: 24px;
    color: #F9FAF8;
}



.images {
font-weight: 800;
text-align: center;
}
.quote {
background-color: #E5E7EB;
font-size: 36px;
}

.bottom {

background-color: #3882F6;


}

.footer {
    color: #E5E7EB; 
text-align: center;
    background-color: #1f2937;
}